.calculator{
    height: 50%;
    width: 50vh;
    color: white;
    text-align: center;
    background-color: #1e1e1e;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10vh;
    margin-top: 100px;
    border-radius: 20px;
    border-color: black;
    
}
input{
    padding: 1vh;
    border-radius: 20px;
}

body {
    background-color: #000000;
    height: 100vh;
    margin: 0; 
}

button{
    width: 100px;
    height: 40px;
    color: white;
    margin-top: 20px;
    background-color: black;
    border-color: black;
    border-radius: 20px;
}
button:hover{
    width: 100px;
    height: 40px;
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 20px;
}